#main-navbar{
  background-color: blue;
}

#navbar-container{
  width: 100%
  position: relative;
  text-align: center;
}

#main-navbar{
  overflow: hidden;
}

#main-navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

#main-navbar ul li{
  float: left;
}

#main-navbar ul li a{
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#main-navbar ul li a:hover{
  background-color: #000;
}

 #onpage{
  text-decoration: underline overline;
}

#navbar-container
{
	float:left;
	left:40%;
	position:relative;
	display:block;
}

#sidebar{
  background-color: red;
  width: 20%
  height: 100%
  position: fixed;
  right:0%;
}

#sidebar-container{
  text-align: center;
  display: block;
}


#sidebar-container ul li a{
  display: block;
  padding: 15px 0px;
  color: #fff;
  text-decoration: none;
}

#sidebar-container ul{
  padding:0;
  list-style-type: none;
  display:block;
}
#sidebar-container ul li a:hover{
  background-color: #000;
}
