#main-navbar{
  background-color: blue;
}

#navbar-container{
  width: 100%
  position: relative;
  text-align: center;
}

#main-navbar{
  overflow: hidden;
}

#main-navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

#main-navbar ul li{
  float: left;
}

#main-navbar ul li a{
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#main-navbar ul li a:hover{
  background-color: #000;
}

#main-navbar #onpage{
  text-decoration: underline;
}

#navbar-container
{
	float:left;
	left:40%;
	position:relative;
	display:block;
}





#main-sidebar{
  height:100%;
	width:20%;
	position:fixed;
	background-color:red;
  right:0%;
}

#sidebar-container{
  
}

#main-sidebar{
  overflow: hidden;
}

#main-sidebar ul{
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

#main-sidebar ul li{
  right: 0%;
}

#main-sidebar ul li a{
  display: block;
  padding: 15px 0;
  color: #fff;
  text-decoration: none;
}

#main-sidebar ul li a:hover{
  background-color: #000;
}


#sidebar-container
{
	float:left;
	left:40%;
	position:relative;
	display:block;
}
